
<ion-content class="padding" style="padding:10px;">
<tek-progress-bar mode="vertical" ng-model="progressVal"></tek-progress-bar>
		<div class="row">
  			<div class="col">
				<div class="wrapper">
					<span>{{card1.Name}}</span>
					<img class="portrait" ng-src="src/{{card1.ImageFile}}.jpg" style="padding-bottom:10%;" alt="">
					<!-- <div class="Energy" style="">{{card1.Energy}}</div> -->
					<div class="progress">
				      <div class="pbar" ng-style="{ 'width': card1.Energypercent + '%' }"></div>
				      <span class="text align-center" style="top: 34px;left: -33px;">{{card1.Energypercent| number:0}}%</span>
				      </br></br></br>
				      <span class="text align-center" style="display: block;margin-bottom: 10px;">{{card1.Energy}}</span>
				    </div>
				     <div class="buttonsDe"> 
					    <button ng-click="decreaseEnergy(card1)">-</button>
					    <button ng-click="addingEnergy(card1)">+</button>
				    </div>

				</div>
  			</div>
  		</div>
  		<div class="row">
  			<div class="col">
  				<table>
  					<tr>
					    <th>{{card1.Name}}</th>
					    <th></th>
					    <th>{{card2.Name}}</th>
					  </tr>
				  <tr>
				    <td><i class="fa fa-chevron-left fa-fw" ng-click="card1.Courage = card1.Courage - 5"></i>{{ card1.Courage }}<i class="fa fa-chevron-right fa-fw" ng-click="card1.Courage = card1.Courage + 5"></i></td>
				    <td><span class="your-icon icon-courage small"></span></td>
				    <td><i class="fa fa-chevron-left fa-fw" ng-click="card2.Courage = card2.Courage - 5"></i>{{ card2.Courage }}<i class="fa fa-chevron-right fa-fw" ng-click="card2.Courage = card2.Courage + 5"></i></td>
				  </tr>
				  <tr>
				    <td><i class="fa fa-chevron-left fa-fw" ng-click="card1.Power = card1.Power - 5"></i>{{ card1.Power }}<i class="fa fa-chevron-right fa-fw" ng-click="card1.Power = card1.Power + 5"></i></td>
				    <td><span class="your-icon icon-power small"></span></td>
				    <td><i class="fa fa-chevron-left fa-fw" ng-click="card2.Power = card2.Power - 5"></i>{{ card2.Power }}<i class="fa fa-chevron-right fa-fw" ng-click="card2.Power = card2.Power + 5"></i></td>
				  </tr>
				  <tr>
				    <td><i class="fa fa-chevron-left fa-fw" ng-click="card1.Wisdom = card1.Wisdom - 5"></i>{{ card1.Wisdom }}<i class="fa fa-chevron-right fa-fw" ng-click="card1.Wisdom = card1.Wisdom + 5"></i></td>
				    <td><span class="your-icon icon-wisdom small"></span></td>
				    <td><i class="fa fa-chevron-left fa-fw" ng-click="card2.Wisdom = card2.Wisdom - 5"></i>{{ card2.Wisdom }}<i class="fa fa-chevron-right fa-fw" ng-click="card2.Wisdom = card2.Wisdom + 5"></i></td>
				  </tr>
				  <tr>
				    <td><i class="fa fa-chevron-left fa-fw" ng-click="card1.Speed = card1.Speed - 5"></i>{{ card1.Speed }}<i class="fa fa-chevron-right fa-fw" ng-click="card1.Speed = card1.Speed + 5"></i></td>
				    <td><span class="your-icon icon-speed small"></span></td>
				    <td><i class="fa fa-chevron-left fa-fw" ng-click="card2.Speed = card2.Speed - 5"></i>{{ card2.Speed }}<i class="fa fa-chevron-right fa-fw" ng-click="card2.Speed = card2.Speed + 5"></i></td>
				  </tr>
				</table>
  			</div>
  		</div>
  		<div class="row">
  			<div class="col">
				<div class="wrapper">
					<span>{{card2.Name}}</span>
					<img class="portrait" ng-src="src/{{card2.ImageFile}}.jpg" style="padding-bottom:10%;" alt="">
					<div class="progress">
				      <div class="pbar" ng-style="{ 'width': card2.Energypercent + '%' }"></div>
				      <span class="text align-center" style="top: 34px;left: -33px;">{{card2.Energypercent| number:0}}%</span>
				      </br></br></br>
				      <span class="text align-center" style="display: block;margin-bottom: 10px;">{{card2.Energy}}</span>
				    </div>
				    <div class="buttonsDe"> 
					    <button ng-click="decreaseEnergy(card2)">-</button>
					    <button ng-click="addingEnergy(card2)">+</button>
				    </div>
				</div>
  			</div>
  		</div>
		
	
</ion-content>
